.brand-logo {
      width: 80px;
      display: block;
      margin: 10px auto;
    }

    body{
      background-image: url('../images/branddarker.jpg');
      background-position: center;
      background-repeat: no-repeat;
    }
    